<!-- CRFReviewProcessRecap template -->
<template name="CRFReviewProcessRecap">

  <div class="col-xs-12 col-sm-12 col-md-9 col-page-template-container">      
    <div class="module-page-template-container">
      <div class="crf-review-process-recap-container">
        <div class="row row-crf-review-process-recap">
          
          <!-- <div class="col-md-offset-2 col-xs-12 col-sm-12 col-md-8 col-crf-review-process-recap text-center"> -->
          <div class="col-xs-12 col-crf-review-process-recap">

            <ul class="ul-crf-review-process-recap">
              <li class="li-crf-review-process-recap">
                <div class="crf-review-process-recap-item crf-review-process-recap-source">
                  <div class="crf-review-process-recap-title">
                    Source
                  </div>
                  <div class="image-container">
                    <img src="/templates/crf-review-process-recap/crf_rp_recap_01.jpg" 
                      class="crf-rp-recap-image" 
                      data-iid="source"
                      alt="CRF Review Process Recap - Source">
                  </div>
                  
                  <div class="crf-review-process-recap-desc" id="crf_rpg_recap_source">
                    Establish that the patient/study subject exists in the source, determine 
                    demographics in the source, ascertain inclusion/exclusion criteria adherence 
                    in the source, capture relevant, protocol-specific data points in the source, 
                    request clarification and/or further elaborations for the source.                
                  </div>
                </div>
              </li>
              <li class="li-crf-review-process-recap">
                <div class="crf-review-process-recap-item crf-review-process-recap-crf">
                  <div class="crf-review-process-recap-buffer"></div>
                  <div class="crf-review-process-recap-title">
                    CRF
                  </div>
                  <div class="image-container">
                    <img src="/templates/crf-review-process-recap/crf_rp_recap_02.jpg"  
                      class="crf-rp-recap-image"
                      data-iid="crf"
                      alt="CRF Review Process Recap - CRF">
                  </div>
                    <div class="crf-review-process-recap-desc" id="crf_rpg_recap_crf">
                      Next, we will review CRF entries to see if they are fully and accurately 
                      corroborated in the source.                                 
                  </div>
                </div> 
              </li>
              <li class="li-crf-review-process-recap">
                <div class="crf-review-process-recap-item crf-review-process-recap-srccrf">
                  <div class="crf-review-process-recap-title">
                    Source / CRF
                  </div>
                  <div class="image-container">
                    <img src="/templates/crf-review-process-recap/crf_rp_recap_03.jpg"  
                      class="crf-rp-recap-image"
                      data-iid="srccrf"
                      alt="CRF Review Process Recap - Source CRF">
                  </div>
                  <div class="crf-review-process-recap-desc" id="crf_rpg_recap_srccrf">
                    We will then seek to reconcile any differences and discrepancies between 
                    source documents and CRF with the study personnel.                              
                  </div>
                </div>
              </li>
              <li class="li-crf-review-process-recap">
                <div class="crf-review-process-recap-item crf-review-process-recap-followup">
                  <div class="crf-review-process-recap-title">
                    Follow Up
                  </div>
                  <div class="image-container">
                    <img src="/templates/crf-review-process-recap/crf_rp_recap_04.jpg"  
                      class="crf-rp-recap-image"
                      data-iid="followup"
                      alt="CRF Review Process Recap - Follow Up">
                  </div>
                  <div class="crf-review-process-recap-desc" id="crf_rpg_recap_followup">
                  Finally, we will want to discuss a plan with site personnel for addressing 
                  the issues and follow up as appropriate.
                  </div>
                </div>
              </li>
            </ul>

          </div> <!-- col-crf-review-process-recap -->
          
        </div> <!-- row-crf-review-process-recap -->
      </div>
    </div>
  </div>

</template>
