<!-- MonitoringNotesExample 2 template -->
<template name="MonitoringNotesExample2">

  <div class="col-xs-12 col-sm-12 col-md-9 col-monitoring-notes-example">      
    <div class="module-monitoring-notes-example-container">
      <div class="row row-monitoring-notes-example">
        <div class="col-xs-12 col-sm-12 col-md-6 col-left">
          <div class="col-left-top-texts">
            Findings from Visit 2-to-Visit 3 comparison (source and CRF):                     
          </div>
          <ul class="ul-monitoring-notes-example-texts">
            <li class="li-monitoring-notes-example-texts-1">
              Visit 2 Vital Signs CRF page contained an entry for the <b>Respiratory 
              Rate</b>, but no corresponding information was present in source documentation
            </li>
            <li class="li-monitoring-notes-example-texts-2">
              <b>Hypertension</b> was mentioned in Visit 3 Progress Note Abbreviated 
              Physical Exam section but not captured in the CRF
            </li>
          </ul>                    
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-right">
          <div class="col-right-container">            
            <ul class="ul-monitoring-notes-example-links list-unstyled">
              <li class="li-monitoring-notes-example-link">
                <a  data-exid="1">Respiratory Rate Monitoring Note</a>
              </li>
              <li class="li-monitoring-notes-example-link">
                <a data-exid="2">Hypertension Monitoring Note</a>
              </li> 
              <li class="li-monitoring-notes-example-link">                
                &nbsp;
              </li>                                         
            </ul>
            <img src="/templates/monitoring-notes-example/apple_mac_monitor.jpg" alt="Monitoring Notes Example Mac Monitor">
          </div>
        </div>        
      </div>
    </div>
  </div>
  <div class="monitoring-notes-example-expln" id="monitoring_notes_example_expln_2_1">
    Dr. Bolt, during review of the Visit 2 Vital Signs CRF page for subject KKT/101 (page 12), it was noted that a data entry exists for the Respiratory Rate ( i.e. 15 rpm).  However, corresponding source documentation to support this entry in the CRF was not present in the available medical records.  Please clarify this discrepancy and update the CRF page accordingly, or provide sufficient source documentation to support the CRF entry.
  </div>
  <div class="monitoring-notes-example-expln" id="monitoring_notes_example_expln_2_2">
    Dr. Bolt, during review of the Visit 3 Abbreviated Physical Exam CRF page for subject KKT/101 (page 17), it was noted that the Cardiovascular System did not contain a data entry for an Abnormality mentioned in the available source documentation. Please review the Progress Note from 25-Feb-2016 for subject KKT/101, and update the CRF page accordingly, or clarify the discrepancy between the source documentation and CRF entry.
  </div>
</template>
