<!-- MonitoringNotesExample 1 template -->
<template name="MonitoringNotesExample1">

  <div class="col-xs-12 col-sm-12 col-md-9 col-monitoring-notes-example">      
    <div class="module-monitoring-notes-example-container">
      <div class="row row-monitoring-notes-example">
        <div class="col-xs-12 col-sm-12 col-md-6 col-left">
          <div class="col-left-top-texts">
            Findings from Medical History and Prior/Concomitant Medication Review            
          </div>
          <ul class="ul-monitoring-notes-example-texts">
            <li class="li-monitoring-notes-example-texts-1">
              History of <b>Hypothyroidism</b> starting in <b>1982</b> was missing as an 
              abnormality listed on the Medical History CRF page
            </li>
            <li class="li-monitoring-notes-example-texts-2">
              CRF entry exists for use of a <b>Multivitamin</b> as a <b>Health Supplement</b>, 
              though corresponding source documentation is not present              
            </li>
            <li class="li-monitoring-notes-example-texts-3">
              Site correctly indicated that the <b>ibuprofen</b> and <b>aspirin</b> use are 
              <b>no longer current</b> for the OA-left hip, but the <b>Stop Date</b> was not 
              provided for these entries in the CRF
            </li>
          </ul>                    
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-right">
          <div class="col-right-container">            
            <ul class="ul-monitoring-notes-example-links list-unstyled">
              <li class="li-monitoring-notes-example-link">
                <a data-exid="1">Hypothyroidism Monitoring Note</a>
              </li>
              <li class="li-monitoring-notes-example-link">
                <a data-exid="2">Multivitamin Monitoring Note</a>              
              </li>
              <li class="li-monitoring-notes-example-link">
                <a data-exid="3">Ibuprofen and Aspirin Monitoring Note</a>               
              </li>                            
            </ul>
            <img src="/templates/monitoring-notes-example/apple_mac_monitor.jpg" alt="Monitoring Notes Example Mac Monitor">
          </div>
        </div>        
      </div>
    </div>
  </div>
  <div class="monitoring-notes-example-expln" id="monitoring_notes_example_expln_1_1">
    Dr. Gillespie, the medical history source documentation (progress note from July 27, 2010) 
    indicates that subject LAT/1001 has a history of Hypothyroidism starting in 1982.  
    However, this medical history abnormality was not recorded in the Medical History CRF 
    page (page 4).  Please clarify if this abnormality needs to be captured as part of the 
    Medical History and update CRF page 4  accordingly.                  
  </div>
  <div class="monitoring-notes-example-expln" id="monitoring_notes_example_expln_1_2">
    Dr. Gillespie, during review of the Prior and Concomitant Medications CRF page (page 38), 
    it was noted that subject LAT/1001 is taking a Multivitamin starting in July 2010 (line entry #7). 
    However, corresponding source documentation to support this entry in the CRF was not present in 
    the available medical records. Please clarify this discrepancy and update the CRF page accordingly, 
    or provide sufficient source documentation to support the CRF entry.
  </div>
  <div class="monitoring-notes-example-expln" id="monitoring_notes_example_expln_1_3">
    Dr. Gillespie, during review of the Prior and Concomitant Medications CRF page (page 38), 
    it was noted that while you correctly indicated that the ibuprofen and aspirin use are no longer 
    current or continuing for the OA-left hip experienced by subject LAT/1001, Stop Dates were not 
    provided for either one of these entries in the CRF. Please clarify this missing information and 
    update the CRF page accordingly, providing sufficient source documentation to support the CRF entries.
  </div>
</template>
