<!-- MonitoringNotesExample 3 template -->
<template name="MonitoringNotesExample3">

  <div class="col-xs-12 col-sm-12 col-md-9 col-monitoring-notes-example">      
    <div class="module-monitoring-notes-example-container">
      <div class="row row-monitoring-notes-example">
        <div class="col-xs-12 col-sm-12 col-md-6 col-left">
          <div class="col-left-top-texts">
            Finding from comparison of lab results and review of AE Log:            
          </div>
          <ul class="ul-monitoring-notes-example-texts">
            <li class="li-monitoring-notes-example-texts-1">
              <b>Fasting Glucose</b> values steadily increased until reaching 
              definition of <b>Grade 1 Hyperglycemia</b>, but no corresponding 
              adverse event was captured on the AE Log
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-right">
          <div class="col-right-container">            
            <ul class="ul-monitoring-notes-example-links list-unstyled">
              <li class="li-monitoring-notes-example-link">
                <a data-exid="1">Hyperglycemia AE Monitoring Note</a>
              </li> 
              <li class="li-monitoring-notes-example-link">         
                &nbsp;
              </li>
              <li class="li-monitoring-notes-example-link">                
                &nbsp;
              </li>                                                     
            </ul>
            <img src="/templates/monitoring-notes-example/apple_mac_monitor.jpg" alt="Monitoring Notes Example Mac Monitor">
          </div>
        </div>        
      </div>
    </div>
  </div>
  <div class="monitoring-notes-example-expln" id="monitoring_notes_example_expln_3_1">
  Dr. Beauchamps, during review of the Chemistry Lab results for subject JAB/001, it was noted that the Fasting Glucose values consistently increased from visit to visit until reaching an elevated value meeting the CTCAE v4.03 guidance definition of a Grade 1 Hyperglycemia adverse event. However, a corresponding entry for this Hyperglycemia Adverse Event was not present on the AE Log. Please review the Chemistry Lab Results for this subject, particularly noting the elevation at Wk9 / Cycle 4, and clarify if this event does indeed constitute an Adverse Event that should be captured on the AE Log. If so, please update the AE log accordingly.
  </div>
</template>
